  a b s l - p y = = 2 . 1 . 0 
 
 a i o h t t p = = 3 . 8 . 6 
 
 a i o s i g n a l = = 1 . 3 . 1 
 
 a l t a i r = = 5 . 0 . 1 
 
 a n s i c o n = = 1 . 8 9 . 0 
 
 a n y i o = = 3 . 7 . 1 
 
 a r r o w = = 1 . 2 . 3 
 
 a s t u n p a r s e = = 1 . 6 . 3 
 
 a s y n c - t i m e o u t = = 4 . 0 . 3 
 
 a s y n c t e s t = = 0 . 1 3 . 0 
 
 a t t r s = = 2 4 . 2 . 0 
 
 a u t o g r a d = = 1 . 6 . 2 
 
 b a c k c a l l = = 0 . 2 . 0 
 
 b a c k p o r t s . z o n e i n f o = = 0 . 2 . 1 
 
 b e a u t i f u l s o u p 4 = = 4 . 1 2 . 3 
 
 b l e a c h = = 6 . 0 . 0 
 
 b l e s s e d = = 1 . 2 0 . 0 
 
 b l i n k e r = = 1 . 6 . 3 
 
 b o t o 3 = = 1 . 3 3 . 1 3 
 
 b o t o c o r e = = 1 . 3 3 . 1 3 
 
 b o t o r c h = = 0 . 6 . 6 
 
 c a c h e t o o l s = = 5 . 3 . 3 
 
 c e r t i f i = = 2 0 2 4 . 8 . 3 0 
 
 c h a r s e t - n o r m a l i z e r = = 3 . 4 . 0 
 
 c l i c k = = 8 . 1 . 7 
 
 c o l o r a m a = = 0 . 4 . 6 
 
 c o l o r m a t h = = 3 . 0 . 0 
 
 c r o n i t e r = = 1 . 3 . 1 5 
 
 c y c l e r = = 0 . 1 1 . 0 
 
 d a t e u t i l s = = 0 . 6 . 1 2 
 
 d e b u g p y = = 1 . 7 . 0 
 
 d e c o r a t o r = = 5 . 1 . 1 
 
 d e e p d i f f = = 6 . 7 . 1 
 
 e n t r y p o i n t s = = 0 . 4 
 
 e t - x m l f i l e = = 1 . 1 . 0 
 
 e x c e p t i o n g r o u p = = 1 . 2 . 2 
 
 f a s t a p i = = 0 . 8 8 . 0 
 
 f i l e l o c k = = 3 . 1 2 . 2 
 
 f l a t b u f f e r s = = 1 . 1 2 
 
 f o n t t o o l s = = 4 . 3 8 . 0 
 
 f r o z e n l i s t = = 1 . 3 . 3 
 
 f s s p e c = = 2 0 2 3 . 1 . 0 
 
 f u t u r e = = 1 . 0 . 0 
 
 g a s t = = 0 . 4 . 0 
 
 g i t d b = = 4 . 0 . 1 1 
 
 g i t d b 2 = = 2 . 0 . 6 
 
 G i t P y t h o n = = 3 . 1 . 4 3 
 
 g o o g l e - a u t h = = 2 . 3 2 . 0 
 
 g o o g l e - a u t h - o a u t h l i b = = 0 . 4 . 6 
 
 g o o g l e - p a s t a = = 0 . 2 . 0 
 
 g p y t o r c h = = 1 . 8 . 1 
 
 g r p c i o = = 1 . 6 2 . 2 
 
 h 1 1 = = 0 . 1 4 . 0 
 
 h 5 p y = = 3 . 8 . 0 
 
 h u g g i n g f a c e - h u b = = 0 . 1 6 . 4 
 
 i d n a = = 3 . 1 0 
 
 i m a g e i o = = 2 . 3 1 . 2 
 
 i m p o r t l i b - m e t a d a t a = = 6 . 7 . 0 
 
 i m p o r t l i b - r e s o u r c e s = = 5 . 1 2 . 0 
 
 i n q u i r e r = = 2 . 1 0 . 1 
 
 i p y k e r n e l = = 6 . 1 6 . 2 
 
 i p y t h o n = = 7 . 3 4 . 0 
 
 i t s d a n g e r o u s = = 2 . 1 . 2 
 
 j e d i = = 0 . 1 9 . 1 
 
 J i n j a 2 = = 3 . 1 . 4 
 
 j i n x e d = = 1 . 3 . 0 
 
 j m e s p a t h = = 1 . 0 . 1 
 
 j o b l i b = = 1 . 3 . 2 
 
 j s o n s c h e m a = = 4 . 1 7 . 3 
 
 j u p y t e r _ c l i e n t = = 7 . 4 . 9 
 
 j u p y t e r _ c o r e = = 4 . 1 2 . 0 
 
 k a g g l e = = 1 . 6 . 1 7 
 
 k e r a s = = 2 . 9 . 0 
 
 K e r a s - P r e p r o c e s s i n g = = 1 . 1 . 2 
 
 k i w i s o l v e r = = 1 . 4 . 5 
 
 l i b c l a n g = = 1 8 . 1 . 1 
 
 l i g h t n i n g = = 1 . 9 . 5 
 
 l i g h t n i n g - c l o u d = = 0 . 5 . 7 0 
 
 l i g h t n i n g - u t i l i t i e s = = 0 . 1 0 . 1 
 
 l l v m l i t e = = 0 . 3 9 . 1 
 
 M a r k d o w n = = 3 . 4 . 4 
 
 m a r k d o w n - i t - p y = = 2 . 2 . 0 
 
 M a r k u p S a f e = = 2 . 1 . 5 
 
 m a t p l o t l i b = = 3 . 5 . 3 
 
 m a t p l o t l i b - i n l i n e = = 0 . 1 . 6 
 
 m d u r l = = 0 . 1 . 2 
 
 m u l t i d i c t = = 6 . 0 . 5 
 
 m u l t i p l e d i s p a t c h = = 1 . 0 . 0 
 
 n e s t - a s y n c i o = = 1 . 6 . 0 
 
 n e t w o r k x = = 2 . 6 . 3 
 
 n u m b a = = 0 . 5 6 . 4 
 
 n u m p y = = 1 . 2 0 . 3 
 
 o a u t h l i b = = 3 . 2 . 2 
 
 o p e n p y x l = = 3 . 1 . 3 
 
 o p t - e i n s u m = = 3 . 3 . 0 
 
 o r d e r e d - s e t = = 4 . 1 . 0 
 
 p a c k a g i n g = = 2 3 . 2 
 
 p a n d a s = = 1 . 3 . 5 
 
 p a r s o = = 0 . 8 . 4 
 
 p a t s y = = 0 . 5 . 6 
 
 p e g a s u s = = 0 . 1 . 3 
 
 p i c k l e s h a r e = = 0 . 7 . 5 
 
 P i l l o w = = 9 . 5 . 0 
 
 p k g u t i l _ r e s o l v e _ n a m e = = 1 . 3 . 1 0 
 
 p r o m p t _ t o o l k i t = = 3 . 0 . 4 7 
 
 p r o t o b u f = = 3 . 2 0 . 0 
 
 p s u t i l = = 6 . 0 . 0 
 
 p y a r r o w = = 1 2 . 0 . 1 
 
 p y a s n 1 = = 0 . 5 . 1 
 
 p y a s n 1 - m o d u l e s = = 0 . 3 . 0 
 
 p y d a n t i c = = 1 . 1 0 . 1 8 
 
 p y d e c k = = 0 . 8 . 1 b 1 
 
 p y d o t = = 2 . 0 . 0 
 
 P y g m e n t s = = 2 . 1 7 . 2 
 
 P y J W T = = 2 . 8 . 0 
 
 P y m p l e r = = 1 . 1 
 
 p y p a r s i n g = = 3 . 1 . 2 
 
 P y P D F 2 = = 3 . 0 . 1 
 
 p y r o - a p i = = 0 . 1 . 2 
 
 p y r o - p p l = = 1 . 8 . 6 
 
 p y r s i s t e n t = = 0 . 1 9 . 3 
 
 p y t h o n - d a t e u t i l = = 2 . 9 . 0 . p o s t 0 
 
 p y t h o n - e d i t o r = = 1 . 0 . 4 
 
 p y t h o n - m u l t i p a r t = = 0 . 0 . 8 
 
 p y t h o n - s l u g i f y = = 8 . 0 . 4 
 
 p y t z = = 2 0 2 4 . 1 
 
 p y t z - d e p r e c a t i o n - s h i m = = 0 . 1 . 0 . p o s t 0 
 
 P y W a v e l e t s = = 1 . 3 . 0 
 
 p y w i n 3 2 = = 3 0 6 
 
 P y Y A M L = = 6 . 0 . 1 
 
 p y z m q = = 2 6 . 2 . 0 
 
 r e a d c h a r = = 4 . 0 . 5 
 
 r e g e x = = 2 0 2 4 . 4 . 1 6 
 
 r e q u e s t s = = 2 . 3 1 . 0 
 
 r e q u e s t s - o a u t h l i b = = 2 . 0 . 0 
 
 r i c h = = 1 3 . 7 . 1 
 
 r s a = = 4 . 9 
 
 s 3 t r a n s f e r = = 0 . 8 . 2 
 
 s a f e t e n s o r s = = 0 . 4 . 5 
 
 s c i k e r a s = = 0 . 1 0 . 0 
 
 s c i k i t - i m a g e = = 0 . 1 9 . 3 
 
 s c i k i t - l e a r n = = 1 . 0 . 2 
 
 s c i p y = = 1 . 7 . 3 
 
 s e a b o r n = = 0 . 1 2 . 2 
 
 s e n t e n c e p i e c e = = 0 . 2 . 0 
 
 s i x = = 1 . 1 6 . 0 
 
 s m m a p = = 5 . 0 . 1 
 
 s m m a p 2 = = 3 . 0 . 1 
 
 s n i f f i o = = 1 . 3 . 1 
 
 s o u p s i e v e = = 2 . 4 . 1 
 
 s t a r l e t t e = = 0 . 2 2 . 0 
 
 s t a r s e s s i o n s = = 1 . 3 . 0 
 
 s t a t s m o d e l s = = 0 . 1 3 . 5 
 
 s t r e a m l i t = = 1 . 2 3 . 1 
 
 t a b u l a t e = = 0 . 9 . 0 
 
 t e n a c i t y = = 8 . 2 . 3 
 
 t e n s o r b o a r d = = 2 . 9 . 1 
 
 t e n s o r b o a r d - d a t a - s e r v e r = = 0 . 6 . 1 
 
 t e n s o r b o a r d - p l u g i n - w i t = = 1 . 8 . 1 
 
 t e n s o r f l o w = = 2 . 9 . 0 
 
 t e n s o r f l o w - e s t i m a t o r = = 2 . 9 . 0 
 
 t e n s o r f l o w - h u b = = 0 . 1 6 . 0 
 
 t e n s o r f l o w - i n t e l = = 2 . 1 1 . 0 
 
 t e n s o r f l o w - i o - g c s - f i l e s y s t e m = = 0 . 3 1 . 0 
 
 t e r m c o l o r = = 2 . 3 . 0 
 
 t e x t - u n i d e c o d e = = 1 . 3 
 
 t h r e a d p o o l c t l = = 3 . 1 . 0 
 
 t i f f f i l e = = 2 0 2 1 . 1 1 . 2 
 
 t o k e n i z e r s = = 0 . 1 3 . 3 
 
 t o m l = = 0 . 1 0 . 2 
 
 t o o l z = = 0 . 1 2 . 1 
 
 t o r c h = = 1 . 1 3 . 1 
 
 t o r c h m e t r i c s = = 0 . 1 1 . 4 
 
 t o r c h v i s i o n = = 0 . 1 4 . 1 
 
 t o r n a d o = = 6 . 2 
 
 t q d m = = 4 . 6 6 . 5 
 
 t r a i t l e t s = = 5 . 9 . 0 
 
 t r a n s f o r m e r s = = 4 . 3 0 . 2 
 
 t y p i n g _ e x t e n s i o n s = = 4 . 7 . 1 
 
 t z d a t a = = 2 0 2 4 . 2 
 
 t z l o c a l = = 4 . 3 . 1 
 
 u m a p - l e a r n = = 0 . 3 . 1 0 
 
 u q 3 6 0 = = 0 . 2 
 
 u r l l i b 3 = = 2 . 0 . 7 
 
 u v i c o r n = = 0 . 2 2 . 0 
 
 v a l i d a t o r s = = 0 . 2 0 . 0 
 
 w a t c h d o g = = 3 . 0 . 0 
 
 w c w i d t h = = 0 . 2 . 1 3 
 
 w e b e n c o d i n g s = = 0 . 5 . 1 
 
 w e b s o c k e t - c l i e n t = = 1 . 6 . 1 
 
 w e b s o c k e t s = = 1 1 . 0 . 3 
 
 W e r k z e u g = = 2 . 2 . 3 
 
 w r a p t = = 1 . 1 6 . 0 
 
 x g b o o s t = = 1 . 6 . 2 
 
 y a r l = = 1 . 9 . 4 
 
 z i p p = = 3 . 1 5 . 0 
 
 
